<template>
  <div class="navbar">
    <nav class="deep-purple darken-1">
      <div class="container">
        <router-link :to="{ name: 'home' }" class="brand-logo left">GeoNinjas!</router-link>
        <ul class="right">
          <li v-if="!user">
            <router-link :to="{ name: 'signup' }">signup</router-link>
          </li>
          <li v-if="!user">
            <router-link :to="{ name: 'login' }">login</router-link>
          </li>
          <li v-if="user">
            <a v-text="user.email" />
          </li>
          <li v-if="user">
            <a @click.prevent="logout">logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
import { auth } from "firebase";

export default {
  name: "Navbar",
  data() {
    return {
      user: null
    };
  },
  methods: {
    async logout() {
      await auth().signOut();
      this.auth = null;
      this.$router.push({ name: "login" });
    }
  },
  created() {
    auth().onAuthStateChanged(user => {
      if (user) {
        this.user = user;
      } else {
        this.user = null;
      }
    });
  }
};
</script>

<style >
</style>
