<template>
  <div class="login container">
    <form class="card-panel" @submit.prevent="login">
      <h2 class="center deep-purple-text">Login</h2>
      <div class="field">
        <label for="email">Email:</label>
        <input type="email" id="email" v-model="email" />
      </div>
      <div class="field">
        <label for="password">Password:</label>
        <input type="password" id="password" v-model="password" />
      </div>
      <p class="red-text center" v-if="feedback" v-text="feedback" />
      <div class="field center">
        <button class="btn deep-purple">Login</button>
      </div>
    </form>
  </div>
</template>

<script>
import { auth } from "firebase";

export default {
  name: "login",
  data() {
    return {
      email: null,
      password: null,
      feedback: null
    };
  },
  methods: {
    async login() {
      const { email, password } = this;
      if (email && password) {
        this.feedback = null;

        try {
          const { user } = await auth().signInWithEmailAndPassword(
            email,
            password
          );

          this.$router.push({ name: "home" });
        } catch ({ message }) {
          this.feedback = message;
        }
      } else {
        this.feedback = "Please fill in both fields";
      }
    }
  }
};
</script>

<style>
.login {
  max-width: 400px;
  margin-top: 60px;
}

.login h2 {
  font-size: 2.4em;
}

.login .field {
  margin-bottom: 16px;
}
</style>