<template>
  <div class="view-profile container">
    <div v-if="profile" class="card">
      <h2 class="deep-puprle-text center">{{ profile.alias }}'s Wall</h2>
      <ul class="comments collection">
        <li v-for="(comment, index) in comments" :key="index">
          <div class="deep-purple-text" v-text="comment.from" />
          <div class="deep-grey-text text-darken-2" v-text="comment.content" />
        </li>
      </ul>
      <form @submit.prevent="addComment">
        <div class="field">
          <label for="comment">Add a comment</label>
          <input type="text" name="comment" id="comment" v-model="newComment" />
          <p class="red-text" v-if="feedback" v-text="feedback" />
        </div>
        <div class="field">
          <button class="btn deep-purple">Add</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import db from "@/firebase";
import { auth } from "firebase";

export default {
  name: "profile",
  data() {
    return {
      profile: null,
      newComment: null,
      feedback: null,
      user: null,
      comments: []
    };
  },
  methods: {
    async addComment() {
      if (this.newComment) {
        this.feedback = null;

        await db.collection("comments").add({
          to: this.$route.params.id,
          from: this.user.alias,
          content: this.newComment,
          time: Date.now()
        });

        this.newComment = null;
      } else {
        this.feedback = "Comment is required";
      }
    }
  },
  async mounted() {
    const ref = db.collection("users");

    const snapshot = await ref
      .where("user_id", "==", auth().currentUser.uid)
      .get();

    snapshot.forEach(doc => {
      this.user = {
        ...doc.data(),
        id: doc.id
      };
    });

    const user = await ref.doc(this.$route.params.id).get();
    this.profile = user.data();

    db.collection("comments")
      .where("to", "==", this.$route.params.id)
      .onSnapshot(snapshot => {
        const changes = snapshot.docChanges();
        changes.forEach(change => {
          if (change.type == "added") {
            const { from, content } = change.doc.data();
            this.comments.unshift({
              from,
              content
            });
          }
        });
      });
  }
};
</script>

<style>
.view-profile .card {
  padding: 20px;
  margin-top: 60px;
}

.view-profile h2 {
  font-size: 2em;
  margin-top: 0;
}

.view-profile li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
</style>