<template>
  <div class="signup container">
    <form class="card-panel" @submit.prevent="signup">
      <h2 class="center deep-purple-text">Signup</h2>
      <div class="field">
        <label for="email">Email:</label>
        <input type="email" id="email" v-model="email" />
      </div>
      <div class="field">
        <label for="password">Password:</label>
        <input type="password" id="password" v-model="password" />
      </div>
      <div class="field">
        <label for="alias">Alias:</label>
        <input type="text" id="alias" v-model="alias" />
      </div>
      <p class="red-text center" v-if="feedback" v-text="feedback" />
      <div class="field center">
        <button class="btn deep-purple">Signup</button>
      </div>
    </form>
  </div>
</template>

<script>
import slugify from "slugify";
import db from "@/firebase";
import { auth, functions } from "firebase";

export default {
  name: "signup",
  data() {
    return {
      email: null,
      password: null,
      alias: null,
      feedback: null,
      slug: null
    };
  },
  methods: {
    async signup() {
      const { alias, email, password } = this;
      if (alias && email && password) {
        this.feedback = null;

        const regex = new RegExp(/[$*_~.()'"`\\/\-:@]/g);
        this.slug = slugify(alias, {
          replacement: "-",
          remove: regex,
          lower: true
        });

        const checkAlias = functions().httpsCallable("checkAlias");
        try {
          const { data } = await checkAlias({ slug: this.slug });

          if (data.unique) {
            const { user } = await auth().createUserWithEmailAndPassword(
              email,
              password
            );

            await db
              .collection("users")
              .doc(this.slug)
              .set({
                alias,
                geolocation: null,
                user_id: user.uid
              });

            this.$router.push({ name: "home" });
            return;
          }
          this.feedback = "This alias is an use, please pick another one";
        } catch ({ message }) {
          this.feedback = message;
        }
      } else {
        this.feedback = "You must enter all fields";
      }
    }
  }
};
</script>

<style>
.signup {
  max-width: 400px;
  margin-top: 60px;
}

.signup h2 {
  font-size: 2.4em;
}

.signup .field {
  margin-bottom: 16px;
}
</style>