<template>
  <div class="map">
    <div class="google-map" id="map"></div>
  </div>
</template>

<script>
import { auth } from "firebase";
import db from "@/firebase";

export default {
  name: "GMap",
  data() {
    return {
      lat: 53,
      lng: -2
    };
  },
  methods: {
    async renderMap() {
      const mapContainer = document.getElementById("map");
      const mapOptions = {
        center: { lat: this.lat, lng: this.lng },
        zoom: 6,
        maxZoom: 15,
        minZoom: 3,
        streetViewControl: false
      };
      const map = new google.maps.Map(mapContainer, mapOptions);

      const users = await db.collection("users").get();
      users.docs.forEach(doc => {
        const { geolocation } = doc.data();
        if (geolocation) {
          const marker = new google.maps.Marker({
            position: {
              lat: geolocation.lat,
              lng: geolocation.lng
            },
            map
          });
          marker.addListener("click", () => {
            this.$router.push({ name: "profile", params: { id: doc.id } });
          });
        }
      });
    }
  },
  mounted() {
    const user = auth().currentUser;

    if (navigator.geolocation) {
      const posOptions = async pos => {
        this.lat = pos.coords.latitude;
        this.lng = pos.coords.longitude;

        const snapshot = await db
          .collection("users")
          .where("user_id", "==", user.uid)
          .get();

        snapshot.forEach(async doc => {
          await db
            .collection("users")
            .doc(doc.id)
            .update({
              geolocation: {
                lat: this.lat,
                lng: this.lng
              }
            });
        });

        this.renderMap();
      };

      const errOptions = err => {
        this.renderMap();
      };

      const options = {
        maximumAge: 60000,
        timeout: 3000
      };

      navigator.geolocation.getCurrentPosition(posOptions, errOptions, options);
    } else {
      this.renderMap();
    }
  }
};
</script>

<style>
.google-map {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
</style>